body{
    color: #494949 !important;
    font-size: 14px !important;
} 
.header-content{
    background-image: url(../src/assets/images/header-bg-svg.svg);
    background-size: cover;
    background-position: 100% 100%;
}
.img-container{
    width: 50px;
}
.section-container{
background-color: #F0FFEF;
}
form button
{
    background-color: #4AA35A !important;
    color: #fff !important;
    font-weight: 700 !important;
}
.form-group input{
    font-size: 14px;
}
.form-group i{
    margin-left:5px;
    margin-top: 12px;
    position: relative;
    font-size: 10px;
}
.form-group i:after{
    content: '';
    background-color: #ccc;
    width: 1px;
    height: 22px;
    position: absolute;
    left: 15px;
    bottom: -7px;
}

.Auth-container{
    /* background-color: #0f0; */
    background-image: url(assets/images/auth-bg.png);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-overlay{
    background:linear-gradient(  to bottom left,rgba(0,0,0,0.7),rgba(47,140,51,0.5))
}

.sidebar-container .ps-sidebar-container{
   background-color: #1F263E;
   height: 100vh;
   color: #fff;
   border-top-right-radius: 50px;
}

.sidebar-container .ps-sidebar-root
{
    border: none;
}

.sidebar-container .ps-sidebar-container .ps-menu-button:hover{
    background-color: rgba(0, 146, 71, 0.5)
}
.sidebar-container .ps-sidebar-container .logo-toggle{
    margin: 20px 0;
}
.sidebar-container .ps-sidebar-container .logo-toggle a:hover{
    background-color: transparent

}
.sidebar-container .ps-sidebar-container .logo-toggle span{
    width: fit-content;
}
.logo-toggle img{
    width: 150px;
}