body{
    color: #494949 !important;
    font-size: 12px !important;
} 
button
{
    background-color: #4AA35A !important;
    color: #fff !important;
    font-weight: 700 !important;
}
.form-group input{
    font-size: 14px;
}
.form-group i{
    margin-left:5px;
    margin-top: 12px;
    position: relative;
    font-size: 10px;
}
.form-group i:after{
    content: '';
    background-color: #ccc;
    width: 1px;
    height: 22px;
    position: absolute;
    left: 15px;
    bottom: -7px;
}
.Auth-container{
    /* background-color: #0f0; */
    background-image: url(assets/images/auth-bg.png);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-overlay{
    background:linear-gradient(to left,rgba(0,0,0,0.6),rgba(47,140,51,0.6))
}